* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
}

body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
}

.nav {
    padding: 15px;
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.nav .logo img {
    height: 40px;

}

.main {
    position: relative;
    background-image: url(assets/images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    height: 100vh;
}

.box {
    background-color: black;
    height: 100vh;
    position: absolute;
    top: 0px;
    width: 100%;
    opacity: .66;
}

.content {
    margin-top: 6em;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: white;
    gap: 14px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    background-color: #a10404;
}

.btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
}

.inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.input-btn {
    padding: 15px 30px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

#email {
    padding: 15px 30px;
    width: 25vw;
    background-color: #181818;
    border: 2px solid gray;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
}

.sepration {
    background-color: #333232;
    width: 100%;
    height: 8px;
}

.P-Heading {
    font-size: 48px;
    font-weight: 900;
}

.primary-text {
    font-size: 24px;
    font-weight: 400;
}

.secondary-text {
    font-size: 20px;
    font-weight: 400;
}

.container {
    max-width: 79vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.right {
    position: relative;
}

.right :nth-child(2) {
    width: auto;
    position: absolute;
    top: 100px;
    z-index: -1;
    left: 83px;
}

.faq {
    margin: 60px 0;
}

.faq> :first-child {
    margin: 25px 0;
    text-align: center;
}

.question {
    padding: 0 23px;
    width: 70vw;
    height: 12vh;
    margin: 13px auto;
    background-color: #333232;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    text-align: center;
    margin: 23px 0;
}

.footer {
    width: 75vw;
    margin: auto;
}

.footer a {
    color: #918c8c;
    font-size: 14px;
    font-weight: 400;
}

.footer> :first-child {
    margin: 50px 0px;
}

.grid {
    margin-top: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.end {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.end> :first-child {
    background-color: transparent;
    border: 2px solid #333232;
    margin: 10px 0;
}

@media only screen and (max-width:965px) {
    .main {
        height: 80vh;
    }

    .box {
        height: 80vh;
    }

    .content {
        margin: 0;
        padding: 29px;
    }

    .nav .logo img {
        height: 26px;

    }

    .P-Heading {
        font-size: 32px;
        font-weight: 700;
    }

    .primary-text {
        font-size: 18px;
        font-weight: 400;
    }

    .secondary-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
    }

    .inner-box {
        flex-direction: column;
    }

    #email {
        width: 60vw;
    }

    .input-btn {
        padding: 12px 20px;
    }

    .container {
        flex-direction: column;
        text-align: center;
        max-width: 90vw;
    }

    .right :first-child {
        width: 100%;
        max-width: fit-content;
    }

    .right :nth-child(2) {
        width: auto;
        top: 92px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (max-width:700px) {
    .right :first-child {
        width: 101%;
        max-width: fit-content;
    }

    .right :nth-child(2) {
        width: -webkit-fill-available;
        top: 55px;
        left: 48px;
    }

    .container {
        height: 80vh;
    }
}

@media only screen and (max-width:520px) {
    #email {
        width: 80vw;
    }

    .center {
        padding: 0 60px;
    }

    .question :nth-child(2) {
        width: 30px;
        height: 30px;
    }
}